<a href="https://colab.research.google.com/github/melvin-gif/NetflixTitles-DataCleaning/blob/main/Airplane_Crashes_Data_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
import pandas as pd
import numpy as np

drive.mount('/content/drive')
file_path = '/content/drive/MyDrive/Airplane_Crashes_and_Fatalities_Since_1908.csv'
df = pd.read_csv(file_path)
df.head()

Mounted at /content/drive

,Date,Time,Location,Operator,Flight #,Route,Type,Registration,cn/In,Aboard,Fatalities,Ground,Summary
0,09/17/1908,17:18,"Fort Myer, Virginia",Military - U.S. Army,NaN,Demonstration,Wright Flyer III,NaN,1,2.0,1.0,0.0,"During a demonstration flight, a U.S. Army fly..."
1,07/12/1912,06:30,"AtlantiCity, New Jersey",Military - U.S. Navy,NaN,Test flight,Dirigible,NaN,NaN,5.0,5.0,0.0,First U.S. dirigible Akron exploded just offsh...
2,08/06/1913,NaN,"Victoria, British Columbia, Canada",Private,-,NaN,Curtiss seaplane,NaN,NaN,1.0,1.0,0.0,The first fatal airplane accident in Canada oc...
3,09/09/1913,18:30,Over the North Sea,Military - German Navy,NaN,NaN,Zeppelin L-1 (airship),NaN,NaN,20.0,14.0,0.0,The airship flew into a thunderstorm and encou...
4,10/17/1913,10:30,"Near Johannisthal, Germany",Military - German Navy,NaN,NaN,Zeppelin L-2 (airship),NaN,NaN,30.0,30.0,0.0,Hydrogen gas which was being vented was sucked...

In [ ]:
#1.Determine the number of rows and columns in the dataset.

In [ ]:
#2.Display the last 75 rows in the dataset.

In [ ]:
#3.Each column except the first one has some missing data. For each column, namethe most appropriate method for treating the missing data.
#Justify your choices.

In [ ]:
determine the date with the highest number of recorded fatalities from this new dataframe

SyntaxError: invalid syntax (ipython-input-3756686796.py, line 1)

In [ ]:
#4.Create a new dataframe from the raw/uncleaned data
#called‘fatality_locations’ with the following columns: ‘Date’,‘Location’, ‘Aboard’, ‘Fatalities’

In [ ]:
#5.Determine the date of the highest number of recorded fatalities from this new dataframe

NameError: name 'fatality_locations' is not defined

In [ ]:
# Create the fatality_locations dataframe
fatality_locations = df[['Date', 'Location', 'Aboard', 'Fatalities']].copy()
display(fatality_locations.head())

In [ ]:
#6.Compare the number of passengers aboard to the number of fatalities per crash.
#Arethere any recorded crashes where there were no fatalities? If so, how many?

In [ ]:
#7.In the ‘fatality_locations’ dataframe, the location column has data items represented as ‘Region, U.S. State/Country’.
#Split this column to have two columns of regions and states/countries.

In [ ]:
#8.Order the dataframe by the number of fatalities from highest to lowest and select the first 100.

In [ ]:
#9.Generate a pie chart that shows the distribution of the top 25 number of fatalitiesper country/U.S. State.
 #[Hint: charts can be generated from the seaborn library]